body{
    font-family: serif;
    size: 1.2em;
    background-color: #fddaef;
}
p{
    size: 125%;
}
h1{
    color: blue;
    font-family: Arial;
}
h2, h3{
    color:  #cc22ff;
    font-family: Arial;
}
#codigo{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
}
#Special::first-letter {
        font-weight: bold;
        font-size: 300%;
}
.Paragraf1{
    color: green;
    margin: 20px;
}
.Paragraf2{
    color: red;
    padding: 10px;
}